
*{
    box-sizing: border-box;}

    a{
      text-decoration: none;
    }
  .navbar_Left li{
    background-color: #555;
  float: left;
  list-style: none;
  /* padding-left: 2%; */
  padding-right: -1%;
  padding: 1%;
  border: 1px solid #555;
  height: 50px;
  /* color: white; */
  /* width: 9%; */
  /* font-size: 98%; */
  text-align: center;
  padding: 13px;

}
body{
margin: 0;
}
li a{

text-decoration: none;
  color: gold;
  font-family: poppins;
}

   
  nav{
    box-shadow: 10px 10px 12px grey;
    height: 52px;
    background-color: #555;
    display: block;
}
  
 
  
  /*.navbar_Left li:hover{
       background-color:white;
font-size: 119%;
  }*/
  .navbar_Left{
    width: 61%;
    background-color: #555;
    border: 1px solid #555;
    height: 52px;
 
  }
  #zoom{
animation: animatezoom 0.6s;
  display: none;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
position: fixed;

}


  @keyframes animatezoom {
  0%{
      transform:scale(0);
      
  }
  100%{
      transform:scale(1);
  }
}
.ImgSize{
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 17%;
  width: 27%;
}



#AddToCart{

  color: gold;
  margin-top: -11px;
}


.navbar_right ul{
  float: left;
 
 }
 .navbar_right{
  overflow: hidden;
  height: 52px;
  background-color: #555;
  width: 287px;
  float: right;
  margin-top: -52px;
}


.button {
  height: 35px;
  color: gold;
  font-family: poppins;
  border: 2px solid white;
  margin-top: -14%;
  width: 65px;
  /* margin-left: 42%; */
  padding: -3%;
  border-radius: 14px;
  background-color: #555;
  box-sizing: border-box;
  cursor: pointer;

}
.navbar_right .button:hover{
  box-shadow: 0 2px 7px 2px white;
}
.button_hover{
  box-shadow: 0 2px 7px 2px white;
}
 
 .AddCart{
  font-size:161%;
   cursor: pointer;
   background-color: #555;
    margin-top: 12px;
 }
.Bar_design{
  border: 2px solid white;
  width: 40px;
  height: 32px;
  border-radius: 7px;
  margin-top: -3px;
}
#Menu_Bar{

  margin-left: 7px;
    margin-top: 3px;
    font-size: 161%;
    color: gold;
}
.navbar_Left .icon{
 display: none;
}

 @media screen and (max-width: 767px){
  .navbar_Left li:not(:first-child){display: none;}
 
  .navbar_Left a.icon{
    float: left;
    display: block;
    
  }
 
   }
   @media screen and (max-width: 767px) {
    .navbar_Left.responsive {position: relative;
    width: 28%;
    z-index: 1;
    }
    .navbar_Left.responsive a.icon {
      position: absolute;
      left: 87px;
      top: 0;
      margin-right: 3%;
    }
    .navbar_Left.responsive li {
      float: none;
      display: block;
      text-align: left;
    
      width: 136px;
      margin-left: -2px
    }
   .navbar_Left.responsive .home{
    margin-top: 48px;
   }
  .navbar_Left.responsive .Bar_design{
    margin-left: -18px;
  }
 
  }
  @media screen and (max-width: 406px){
.navbar_Left{
  width:33% ;
}
 .navbar_right{
  overflow: hidden;
  height: 50px;
  background-color: #555;
  width: 65%;
  float: right;
 
 }
  ul.AddCart{
    margin-left: -15%;
}
.btnLogin,.btnSignUp{
margin-left: -25px;
}


  }
  @media screen and (max-width: 406px){
.show_container{
 height: 274px;
}
 .MySlide .imgInside{
 
  height:330px;
}
.dotPosition span{
  margin-top: 51px;
}
  }
  .show_container{
      
        position: relative;
    height: 329px;
    overflow: hidden;
    box-shadow: 10px 10px 12px grey;
    border-radius: 74px;
    top: 62px;
    margin-left: 0%;
    border: 1px solid beige;
    display: block;

    margin: 3%;
    }
  
  .MySlide{display: none;}
  .forward,.backward{
    
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: gold;
    margin: -27px -1px -112px -1px;
}
  
  .backward{
    right: 0;
      border-radius: 3px 0 0 3px;
  }
  .forward:hover,.backward:hover{
    background-color: rgba(0,0,0,0.5);
  }

  .MySlide  img{
  width: 100%;
  height: 385px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.activ, .dot:hover {
  background-color: green;
  border: 4px solid white;
}
.r{
  margin-left: 100px;
  margin: 59px;
  font-size: 127%;
}
.r{
  margin-left: 100px;
margin: 59px;
font-size: 127%;
font-family: ewert;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.dotPosition{
  text-align: center;
  margin-top: -110px;
}
.Event_Area{
  border: 6px solid green;

height: auto;
border-radius: 21px;
padding: 12px 20px 36px 12px;
margin-top: 29px;
margin: 17px;
}

.Event_Area p{
  font-size: 18px;
font-family: fantasy;
margin: 9px;
margin-top: 4px;

}

.Event_Area a{
  text-decoration: none;
margin-left: 42px;
font-family: poppins;
font-size: 24px;
}
.Event_p{
margin: 33px;
font-size: 24px;
font-family: monospace;
color: green;
}
.Event_Area li{
list-style: none;
}
.Event_Area li a{

color: darkolivegreen;
}
.Vission,.Mission{
border: 1px solid grey;
margin: 17px;
padding: 10px 15px;
height: 80px auto;
border-radius: 18px;
background: #555;
color: white;
font-size: 17px;
font-family: poppins;
}
.Vission h4,.Mission h4{
margin: unset;
color: gold;
text-align: center;

}
footer{
  height: 201px auto;
  background-color: #5d5555;
  border: 10px solid #d2cdcd;
  border-radius: 20px;
}
.icons a{
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 19px;
  width: 4% auto;
  float: left;
}

.facebook{
background-color:  #3B5998;

}
.twitter {
background: #55ACEE;

}


.linkedin {
background: #007bb5;

}

.youtube {
background: #bb0000;
color: white;
}
.youtube ,.linkedin, .twitter, .facebook{

  border-radius: 14px;
  height: 56px;
}
.youtube i,.linkedin i, .twitter i, .facebook i{
font-size: 100%;
}
.icons li{
list-style: none;
  overflow: hidden;
  float: left;
  border: 3px solid #5d5555;


}
.footer_img{

width: 84px;
  margin-left: 8%;
  border-radius: 15px;

}
.Terms_privacy {
text-align: center;
font-family: poppins;
  color: #1fde3f;
}
.Terms_privacy a{
font-family: poppins;
  color: #1fde3f;
}

.active{
  background-color: white;
    padding: 9px 5px 5px 5px;
    border-radius: 7px;
}
.nav_outBor{
  position: fixed;
      width: 100%;
      border: 1px solid #555;
      height: 53px;
      top: 0;
      z-index: 1;
}
.nav_act:hover{
  background-color: white;
    padding: 9px 5px 10px 5px;
    border-radius: 7px;
    height: 40px;
    
}
.Logoless{
  padding: 9px;
    float: left;
}
.let{
  
    color: #b5b5b5;
    font-size: 394%;
   /* float: right;*/
    display: flex;
    
}
    
    .live{
      margin-top: -3px;
    margin-left: 19px;
    margin-right: 18px;
    transform: rotate(-45deg) scale3d(2.5, 1.5, 1.5);
    }
    .quotes{
      text-align: center;
    color: whitesmoke;
    font-size: larger;
    font-family: poppins;
    margin: auto;
    }
    /* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #167904;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #167904;
  cursor: pointer;
}
    /*Tutorial tab*/
    .tut_body{
   
      background: url('tutorial_Back.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     }
  
  .back_color_tut{
    background-color: rgba(0,0,0,0.4);
      border: 1px solid rgba(0,0,0,0);
     height: 570px;
     margin:74px 23px 5px 64px; 
      border-radius: 18px;
      overflow: auto;
  }
  
      
  
  .social_icons {
    position: fixed;
    top: 38%;
   
   
  }
  .social_icons a{
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .social_icons a:hover,.icons a:hover{
    transform: rotateY(38deg) scale(1.4);
  }
  .advaisor{
    border: 1px solid #e2e2de;
      width: 93%;
     
      margin: 6% 1% 6% 3.2%;
      border-radius: 11px;
      background-color: #ffffff2b;
  }
  .advaisor img{
    margin: 10px;
      width: 164px;
      border-radius: 10px;
      float: left;
      height: 176px;
  }
  .advaisor label{
    float: left;
      display: grid;
      padding: 8px;
      margin-left: 30px;
      color: white;
      font-size: large;
      font-family: sans-serif;
  }
  .advaisor u{
    color: white;
      font-size: large;
      font-family: sans-serif;
      display: contents;
      text-decoration: none;
  }
  .advaisor_div{
    display: grid;
  margin: 12px 12px 12px 12px;
  }
  @media screen and (max-width: 752px) {
    .advaisor{
      border: 1px solid #e2e2de;
      width: 93%;
      margin: 6% 1% 6% 3.2%;
      border-radius: 11px;
      background-color: #ffffff2b;
      display: grid;
    }
  .advaisor_div{
    display: grid;
  margin: 12px 12px 12px -20px;
  }
  iframe{
    width: 100%;

  }
  }
  /*Tutorialpage_End*/
  /*contact_page*/
  .cnt_back{
    background: url('contact.png') no-repeat center center fixed ;
  
  background-size: cover;
  
     }
     .cnt_form{
      text-align-last: center;
      margin-top: 71px
     }
     .form_input input[type=text],.form_input  input[type=Email],textarea{
      color: white;
      /* background: repeating-linear-gradient(-49deg, black, transparent 274px); */
      background: round;
      font-family: poppins;
      border-radius: 13px;
      font-size: large;
      border: 3px solid green;
      width: 205px;
  
     }
     .form_input{
    color: rgba(0,0,0,0.9);
      font-size: larger;
      font-family: poppins;
  }
  
  .cnt_button:hover #butt1:after {
      opacity: 1;
      right: 0;
  }
  
  .cnt_button:hover #butt1 {
      padding-right: 25px;
      color: white;

  }
  
  .cnt_button:hover {
      background-color: rgb(51, 163, 51);
   
      box-shadow: 0 2px 7px 2px grey;
  }
  
  .cnt_button #butt1:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      transition: 0.5s;
  }
  
  .cnt_button #butt1 {
    cursor: pointer;
      position: relative;
      transition: 0.5s;
      font-family: cursive;
  }
  .cnt_button {
    padding: 1px 16px;
      text-align: center;
      border-radius: 15px;
      font-weight: bold;
      color: black;
  }
  /*contact page end*/
  /*How to do*/
  .advaisor_div_how{
  border: 1px solid #e2e2de;
      width: 93%;
     
      margin: 6% 1% 6% 3.2%;
      border-radius: 11px;
      background-color: #ffffff2b;
  }
  .How_body{
   
    background: url('howtodo7.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   }
 
 .how_bord{
   border: 1px solid white;
     height: 570px;
     margin: 74px 23px 5px 64px;
     overflow: auto;
     border-radius: 18px;
 }
 iframe{
 
 padding: 7px;
     border-radius: 23px;
 
 }
 .video_how{
   border: 4px solid green;
     border-radius: 10px;
    
     margin: 7px;
 
 }
 .video_how label,.video_how p{
   font-family: poppins;
     color: white;
     display: block;
     font-size: larger;
 }